/*NAVBAR*/
.navbar {
  background-color: #282c34;
  border-bottom: 2px solid #ff7f50;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff7f50;
}

.navbar-brand img {
  margin-right: 10px;
}

.nav-link {
  color: #ffffff;
  font-size: 1.2rem;
  margin-left: 20px;
}

.nav-link:hover {
  color: #ff7f50 !important;
}

/*HEADER*/

.header {
  background-color: #333;
  color: white;
}

.preview-container {
  position: relative;
  height: 100vh;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#preview-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#preview-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control-custom {
  background-color: rgba(255, 255, 255, 0.8);
}

.movie-card {
  margin-top: 3rem;
  transition: all 0.3s ease-in-out;
  width: 300px;
}

.movie-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cardContainer {
  background: radial-gradient(circle, #ff7f50, #282c34);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.opacityCentral {
  opacity: 0.5;
}

/*FOOTER*/

.bg-dark {
  background-color: #282c34;
  color: #ffffff;
}

.title-container {
  height: 100px;
}

.title-container h6 {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-item:last-child {
  margin-bottom: 0;
}

.nav-link {
  color: #b0b0b0;
  font-size: 0.9rem;
  text-decoration: none;
}

.nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
  font-size: 0.9rem;
}

.btn-outline-secondary:hover {
  color: #282c34;
  background-color: #ffffff;
}

.fs-2 {
  font-size: 1.5rem;
  vertical-align: middle;
}
